<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Person!</title>
</head>
<body>
    Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    <form th:action="@{/j_spring_security_logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>

    <p th:text="'Edit, ' + ${person.name} + ' EDITOR!'" />

    <form action="#" th:action="@{/editor/person}" th:object="${person}" method="post">
        ...
    </form>
</body>
</html>
