<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show All Persons</title>
</head>
<body>
    Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    <form th:action="@{/j_spring_security_logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>

    <h2>SHow All Persons</h2>

    <table>
        <tr>
            <th>NAME</th>
            <th>AGE</th>
            <th>GENDER</th>
        </tr>
        <tr th:each="person : ${allPersons}">
            <td>
                <a href="/editor/person.html"
                   th:href="@{/editor/person(id=${person.id})}" th:text="${person.name}"></a>
                <!--<a href="/editor/person.html"-->
                   <!--th:href="@{/editor/person(id=${person.id})}" th:text="${person.name}">-->
                    <!--<span th:text="${person.name}">tbd</span>-->
                <!--</a>-->
            </td>
            <!--<td th:text="${person.id}">tbd</td>-->
            <!--<td th:text="${person.name}">tbd</td>-->
            <td th:text="${person.age}">tbd</td>
            <td th:text="${person.gender}">tbd</td>
        </tr>
    </table>

</body>
</html>
