<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf ADMIN!</title>
</head>
<body>
    Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    <form th:action="@{/j_spring_security_logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>

    <p th:text="'Hello, ' + ${name} + ' EDITOR!'" />
    <p><a href="/editor/allPersons.html">All Person page</a></p>
    <p><a href="/editor/persons.html?id=454">Person 454page</a></p>

</body>
</html>
