<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Person!</title>
</head>
<body>
    Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    <form th:action="@{/j_spring_security_logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>

    <p th:utext="#{person.welcome('EDITOR')}">Edit Person!</p>

    Edit: <span th:text="${person}">tbd</span>

    <form action="#" th:action="@{/editor/savePerson}" th:object="${person}" method="post">
        <fieldset>
            <label th:for="name" th:name="name_label" th:value="Name" >Name</label>
            <input th:id="name" th:name="name" th:value="${person.name}" />
            <input type="submit" value="update" th:attr="value=#{update.submit}"/>
        </fieldset>
        Name 2:

    </form>

</body>
</html>
