<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf USER!</title>
</head>
<body>
Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>

    <p th:text="'Hello, ' + ${name} + ' USER!'" />
    <p><a href="/hello.html">Hello page</a></p>
    <p><a href="/admin/index.html">Admin page</a></p>
    <p><a href="/editor/index.html">Editor page</a></p>

</body>
</html>
