<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring 4 Security + Thymeleaf Integration Example</title>
</head>
<body>
    <h3>Spring 4 Security + Thymeleaf Integration Example </h3>
    <!--Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>-->
    <form th:action="@{/j_spring_security_logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
    <table>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.password}">Password</td>
        </tr>
    </table>
</body>
</html>
